# TEST
nose
coverage
# LINT OR DIE
flake8
pep8
pyflakes
# LIBS
# numpy==1.19.3
numpy
scipy
pandas
# matplotlib==3.1.3
matplotlib
# DOCUMENTATION
sphinx
sphinx_rtd_theme
sphinxcontrib-bibtex
sphinxcontrib-blockdiag
sphinx-sitemap
jupyter-sphinx
nbsphinx
# PUBLISHING
twine
setuptools